<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <title>Doctor Module</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css" />

    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--
    agile, a free CSS web template by ZyPOP (zypopwebtemplates.com/)

    Download: http://zypopwebtemplates.com/

    License: Creative Commons Attribution
    //-->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />

</head>

<body background="/public/images/do1.jpg">


<section id="body" class="width">
    <aside id="sidebar" class="column-left">

        <header>
            <h1><a href="#">Doctor Module</a></h1>

            <h2>WELCOME......!</h2>

        </header>

        <nav id="mainnav">
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/">My Profile</a></li>
                <li class="selected-item"><a href="/list/selectPatient/<%= patientDetail[0].patient_id;%>">Patient Detail</a></li>
                <li><a href="/report">Patient Report</a></li>
                <li><a href="/staffTelNo">Staff Contact Numbers</a></li>
            </ul>
        </nav>



    </aside>
    <section id="content" class="column-right">

        <div class="container">
            <br><br>
            <h1>Patient Detail</h1>
            <div class=" col-md-9 col-lg-9 ">
                <table class="table table-user-information" align="center">
                    <tbody>
                    <% for (var i=0;i<patientDetail.length;i++){%>
                    <tr>
                        <td>Doctor Id:</td>
                        <td><%= patientDetail[i].patient_id;%></td>
                    </tr>
                    <tr>
                        <td>First Name:</td>
                        <td><%= patientDetail[i].firstName;%></td>
                    </tr>
                    <tr>
                        <td>Last Name:</td>
                        <td><%= patientDetail[i].lastName;%></td>
                    </tr>
                    <tr>
                        <td>Gender:</td>
                        <td><%= patientDetail[i].gender;%></td>
                    </tr>
                    <tr>
                        <td>Age:</td>
                        <td><%= patientDetail[i].age;%></td>
                    </tr>
                    <tr>
                        <td>Patient Type:</td>
                        <td><%= patientDetail[i].type;%></td>
                    </tr>
                    <tr>
                    <tr>
                        <td>Action:</td>
                        <td><a href="/list" class="btn btn-danger active">Patient List</a>
                            <a href="/list/prescription/<%= patientDetail[i].patient_id;%>" class="btn btn-success active">Prescription</a>
                            <a href="#" class="btn btn-warning active">Patient Report</a>
                        </td>
                    </tr>
                    <tr>
                    <% }%>

                    </tbody>
                </table>
            </div>


        <footer class="clear">
            <p>Copyright &copy; CPSS 2017.All Rights Reserved</p>
        </footer>

    </section>

    <div class="clear"></div>

</section>


</body>
<script
        src="https://code.jquery.com/jquery-3.2.1.js"
        integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
        crossorigin="anonymous"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</html>
